**

!src/*
!public/*
!index.html
!.pnp.*
!.pnp.loader.*
!tsconfig.*
!package.json
!vite.config.ts
!env.d.ts
!yarn.lock
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
